.cabecalho{
    background-image: url("imagens/minecraft.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 369px;
    height: 546px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}
.cabecalhopaginas{
    background-image: url("imagens/banner2.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 369px;
    height: 191px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: right;
  
}




























